*
{
    margin: 0px;
    padding: 0px;
}
.container
{
    width: 1170px;
    height: auto;
    margin: 0 auto;
}

.row1
{
    display: flex;
    height: 750px;
    background-image: linear-gradient(#FF9E9D,#4ED7FF);
    justify-items: center;
}

.row1 .col1
{
    width: 90%;
    height: 350px;
    background-color: rgba(255,255,255,0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    border: 2px solid black;
}

/* Designing the form elements */
input[type= "email"],
input[type= "password"]
{
    width: 80%;
    padding: 12px 20px;
    margin-top: 5%;
    margin-left: 8%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Designing the buttons */
button
{
    background-color: black;
    color: white;
    margin-left: 45%;
    margin-top: 4%;
    width: 150px;
    padding-top: 1%;
    padding-bottom: 1%;
 
}

