*
{
    margin: 0px;
    padding: 0px;
}


nav
{
    background: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul
{
    display: flex;
    gap: 50px;
    list-style: none;
}

nav ul li a
{
 text-decoration: none;
 color: aliceblue;
 font-size: 16px;
 font-weight: 500; 
}

/* Adding the hover effect here */

nav ul li a:hover 
{
    background: red;
    color: white;
    padding: 30px;
    border-radius: 5px;
    transition: 0.3s;
}

h2
{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 150px;
    padding-right: 50px;
}

.box
{
    background-color: red;
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: center;
}

i
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.container
{
    width: 1170px;
    height: auto;
    margin: auto 0px;
}

.row1
{
    width: 100%;
    height: 500px;
    background-image: url(../images/coffeeMug.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row2
{
    width: 100%;
    height: 350px;
    background-color: white;
}

.row3
{
    width: 100%;
    height: 350px;
    background-color: white;
    text-align: center;
}

.row4
{
    width: 100%;
    height: 450px;
    background-color: white;
    text-align: center;
}

.row5
{
    background-color: white;
    text-align: center;
    padding: 25px 0;
    width: 100%;
    align-items: center;
    position: relative;
}

h3
{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type= "email"], input[type= "name"], input[type= "tel"],textarea
{
    width: 50%;
    padding: 12px 15px;
    margin-top: 12px;
    margin-bottom: 0.5%;
    border-radius: 15px;
    font-size: 16px;
    background-color: rgb(236, 230, 222);
    color: black;
    border-style: none;

}

button
{
    width: 80px;
    background-color: #e51313;
    color: #fff;
    padding: 8px 8px;
    border-radius: 15px;
    border-style: none;
    margin-top: 10px;
}

.row6
{
    background-color: black;
    text-align: center;
    padding: 25px 0;
    width: 100%;
    align-items: center;
    position: relative;
}

#area
{
    width: 20%;
    padding: 5px 5px;
    margin-top: 2%;
    margin-bottom: 0.5%;
    border: 3px solid #e51313;
    border-radius: 4px;
    font-size: 16px;

}

#c-icon
{
    color: white;
    padding: 30px;
    text-transform: lowercase;

}

.social-icons
{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap:5px;
    padding-top: 5%;
}

#s-icon
{
    color: black;
}
.social-icons-facebook
{
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 50%;
}

.social-icons-instagram
{
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 50%;
}

.social-icons-twitter
{
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 50%;
}

footer
{
    background-color: red;
    color: white;
    text-align: center;
    padding: 25px 0;
    width: 100%;
}

