*
{
    margin: 0px;
    padding: 0px;
}

.container
{
    width: 1170px;
    height: auto;
    margin: 0 auto;
}

.row
{
    width: 100%;
    height: 2000px;
    background: linear-gradient(#F2E1C2, #A6610D, #D9A86C, #F2E2CE);
}

.row .box
{
    height: 100px;
    background-color: black;
    color:#F2E2CE;
    margin-left: 37%;
    position: fixed;
    top: 150px;
    padding: 50px;
    border-radius: 15px;
    border: solid 2px bisque;
}

.row .box:hover
{
    background-color: beige;
    color: black;
}

#scroll
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#val
{
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 35px;
   text-align: center; 
}