body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: black;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;   
}


.logo {
  margin: 0;
}


ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}


ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
}

ul li a:hover {
  background: gray;
}


#menuBtn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  #menuBtn {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    top: 100%;          
    left: 0;
    width: 100%;
    background: black;
    flex-direction: column;
    align-items: center;
  }

  ul.show {
    display: flex;
  }

  ul li {
    padding: 10px 0;
  }
}
