#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardStyle {
  width: 250px; 
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  margin-left: 10px;
  float:left;
}

.cardStyle img {
  width: 100%;       
  height: 350px;      
  object-fit: cover;  
  object-position: center; 
  border-radius: 8px;
}

#btn
{
  transition: 0.9s;
}

#btn:hover
{
  background-color: red;
  color: white;
  transform: scale(0.9);
}