*
{
    margin: 0px;
    padding: 0px;
}

.hero
{
    height: 100vh;
    width: 100%;
    background-image:url(../images/sky.jpg);
    background-size:cover;
    background-position:center;
    position:relative;
    overflow-x:hidden;
}

.highway
{
    width: 500%;
    height: 200px;
    display: block;
    background-image: url(../images/road.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 5s linear infinite;
}

@keyframes highway {
    100%{
        transform: translateX(-3400px);
    }
    
}

.city
{
    width: 500%;
    height: 250px;
    display: block;
    background-image: url(../images/city.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 20s linear infinite;
}

@keyframes city {
    100%{
        transform: translateX(-1400px);
    }
    
}


.car
{
    width: 400px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.car img
{
    width:100%;
    animation: car 1s linear infinite;
}

@keyframes car {
    100%{
        transform: translateY(-1px);
    }

}

.wheel
{
    left: 50%;
    bottom: 178px;
    transform: translate(-50%);
    position: absolute;
    z-index: 2;
}

.wheel img
{
    width: 70px;
    height: 70px;
    animation: wheel 1s linear infinite;
}

.backWheel
{
    left: -165px;
    position: absolute;
}

.frontWheel
{
    left: 80px;
    position: absolute;
}

@keyframes wheel {
    100%{
        transform: rotate(360deg);
    }
    
}
