#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.inputBox
{
  padding: 10px 80px;
  transition: 0.4s;
  font-size: 14px;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  color: black;
}

.inputBox:hover
{
  transform: scale(0.9);
  background-color: black;
  color: antiquewhite;
}

.box
{
  padding: 20px 20px;
  height: 360px;
  width: 100%;
  max-width: 360px;
  background-color: lightpink;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: solid 4px black;
  box-shadow: 0 4px 10px white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

#btn {
  transition: 0.4s;
  margin: 10px;
}

#btn:hover
{
  transform: scale(0.9);
}
