* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 15% auto;
  border-radius: 8px;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
}


.main {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.content {
    flex: 3;
    background-color: #e8f0fe;
    padding: 20px;
}

.sidebar {
    flex: 1;
    background-color: #dfe6e9;
    padding: 20px;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
