*
{
    margin: 0px;
    padding: 0px;
}

.container
{
    width: 1170px;
    height: auto;
    margin: 0 auto;
}

.row
{
    width: 100%;
    height: 900px;
    background: linear-gradient(#F2A7A7, #D99A9A, #8C7870);
}

.row .box
{
    height: 100px;
    background-color: white;
    color: black;
    position: fixed;
    margin-left: 32%;
    top: 150px;
    padding: 150px;
    border-radius: 15px;
    border: solid 2px bisque;
}

.dark
{
    height: 100px;
    background-color: black;
    color: white;
    margin-left: 32%;
    position: fixed;
    top: 150px;
    padding: 150px;
    border-radius: 15px;
    border: solid 2px bisque;
}


#shortcut
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#val
{
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 35px;
   text-align: center; 
}

#btn
{
    padding: 15px;
    margin-top: 40px;
    margin-left: 125px;
}

#keybtns
{
    display: none;
}